.form-container {
  position: relative;
  width: 50%;
  border-radius: 5px;
  border: 2px solid rgb(202, 202, 202);
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px 30px 20px 30px;
  color: #2e2e2e;
}

.form-container .form-container__header {
  font-family: "Blinker", sans-serif;
  color: rgb(26, 25, 25);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.form-container .form-container__header .form-container__header__heading {
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-container button {
  margin-top: 20px;
  margin-bottom: 10px;
}
