.expanded-element {
    border-bottom: 1px rgba(180, 188, 199, .32) solid;
    transition: padding .2s linear .1s;
}

.open-element {
    padding-bottom: 20px;
}

.hidden-section {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

.open-section {
    max-height: 500px;
    overflow-y: auto;
    opacity: 1;
}

.expandable-elements {
    transition: all .4s linear;
}

.expanded-element__expand-link-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 25px 20px;
    line-height: .8rem;
    font-size: 16px;
    color: #677694;
    cursor: pointer;
}

.expanded-element__expand-link-wrapper.open-link {
    padding-bottom: 14px;
}

.expanded-element__expand-link-wrapper .expand-link {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: .06em;
    color: #677694;
}

.expanded-element__expand-link-wrapper .expand-link:hover {
    text-decoration: none;
}

.expandable-elements {
    list-style: none;
    margin: 0;
    padding: 0;
}

.expandable-elements__element {
    width: 100%;
}

.expandable-elements__element .expandable-elements__element__link {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    padding: 8px 20px;
    color: white;
    width: 100%;
}

.expandable-elements__element .expandable-elements__element__link:hover {
    text-decoration: none;
    background: rgb(20, 52, 128);
}

.expanded-element:last-child {
    border-bottom: none;
}

.arrow-box {
    padding: 5px;
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    border-radius: 4px;
    display: none;
}

.arrow-box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 5px;
    margin-top: -5px;
}