.custom-collapse {
    border-bottom: 1px rgba(180, 188, 199, .32) solid;
    transition: padding .2s linear .1s;
}

.open-element {
    padding-bottom: 20px;
}

.hidden-section {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

.open-section {
    max-height: 500px;
    overflow-y: auto;
    opacity: 1;
}

.custom-collapse__collapse-elements {
    transition: all .4s linear;
}

.custom-collapse__collapse-trigger-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 25px 20px;
    line-height: .8rem;
    font-size: 16px;
    color: #677694;
    cursor: pointer;
}

.custom-collapse__collapse-trigger-wrapper.open-link {
    padding-bottom: 14px;
}

.custom-collapse__collapse-trigger-wrapper .collapse-trigger {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: .06em;
    color: #677694;
}

.custom-collapse__collapse-trigger-wrapper .collapse-trigger:hover {
    text-decoration: none;
}

.custom-collapse__collapse-elements {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-collapse__collapse-elements__element {
    width: 100%;
}

.custom-collapse__collapse-elements__element:hover i {
    color: white;
    background: #00d7d2;
}

.custom-collapse__collapse-elements__element .create-new-icon {
    color: #00d7d2;
    background: transparent;
    padding: 4px 5px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    transition: all .3s linear;
}

.custom-collapse__collapse-elements__element .custom-collapse__collapse-elements__element__link {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    padding: 8px 20px;
    color: white;
    width: 100%;
}

.custom-collapse__collapse-elements__element .custom-collapse__collapse-elements__element__link:hover {
    text-decoration: none;
    background: rgb(20, 52, 128);
}

.custom-collapse:last-child {
    border-bottom: none;
}

.custom-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 110px;
    max-width: 500px;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    background: rgba(0, 0, 0, .85);
    border-radius: 4px;
    display: none;
}

.custom-tooltip::after {
    content: " ";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, .8);
    border-width: 5px;
    margin-top: -5px;
}