.background-wall {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  cursor: pointer;
}

.background-wall::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.63) 0%,
    rgba(0, 0, 0, 0) 32%,
    rgba(0, 0, 0, 0) 57%,
    rgba(0, 0, 0, 0.63) 100%
  );
  transition: all 0.4s ease-in-out;
}

.background-wall:hover::after {
  background-color: rgba(0, 0, 0, 0.73);
}

.pack-title-container .pack-title-container__pack-title.ellipsis-text {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.background-wall:hover
  .pack-title-container
  .pack-title-container__pack-title.ellipsis-text {
  opacity: 0;
}

.pack-title-container .pack-title-container__pack-title.full-text {
  opacity: 0;
  word-wrap: break-word;
  transition: all 0.4s ease-in-out;
}

.background-wall:hover
  .pack-title-container
  .pack-title-container__pack-title.full-text {
  opacity: 1;
}

.pack-title-container {
  position: absolute;
  left: 6%;
  top: 3%;
  width: 80%;
  z-index: 999;
}

.pack-title-container .pack-title-container__pack-title {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.button-container {
  position: absolute;
  bottom: 0%;
  z-index: 999;
}

.button-container .change-pack-btn {
  position: relative;
  border: none !important;
  transition: all 0.4s linear;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 20px;
  border: 2px solid white !important;
  background: transparent;
  transition: all 0.3s linear;
}

.button-container .change-pack-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: white;
  transition: all 0.3s linear;
  z-index: -1;
}

.background-wall:hover .button-container .change-pack-btn::after {
  width: 100%;
}

.background-wall:hover .button-container .change-pack-btn {
  color: rgb(36, 37, 92);
}
