.glitch-header {
    position: absolute;
    top: 52%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.glitch-header .glitch-header__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 4.1em;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: black;
    transform: rotate(3deg);
}

.glitch-header .glitch-header__heading-clone {
    position: absolute;
    top: 1px;
    left: 45%;
    height: 0.65em;
    margin-left: -40%;
    width: 90%;
    overflow: hidden;
    animation: glitch 10s infinite linear;
}

.glitch-header .glitch-header__subheader {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 25px;
    letter-spacing: 0.5px;
}

.glitch-header .glitch-header__subheader .loginbot-link {
    text-decoration: none;
    color: black;
}

.glitch-header .glitch-header__subheader .loginbot-link:hover {
    text-decoration: underline;
    color: black;
}

@keyframes glitch {
    5% {
        transform: translateX(2px) rotate(3deg)
    }
    6% {
        transform: translateX(0px) rotate(3deg)
    }
    15% {
        transform: translateX(2px) rotate(3deg)
    }
    16% {
        transform: translateX(0px) rotate(3deg)
    }
    20% {
        transform: translateX(-1px) rotate(3deg)
    }
    21% {
        transform: translateX(4px) rotate(3deg)
    }
    23% {
        transform: translateX(-4px) rotate(3deg)
    }
    25% {
        transform: translateX(0px) rotate(3deg)
    }
    31% {
        transform: translateX(-4px) rotate(3deg)
    }
    32% {
        transform: translateX(0px) rotate(3deg)
    }
    40% {
        transform: translateX(2px) rotate(3deg)
    }
    41% {
        transform: translateX(3px) rotate(3deg)
    }
    42% {
        transform: translateX(-3px) rotate(3deg)
    }
    43% {
        transform: translateX(-2px) rotate(3deg)
    }
    45% {
        transform: translateX(0px) rotate(3deg)
    }
    50% {
        transform: translateX(4px) rotate(3deg)
    }
    51% {
        transform: translateX(0px) rotate(3deg)
    }
    60% {
        transform: translateX(2px) rotate(3deg)
    }
    61% {
        transform: translateX(0px) rotate(3deg)
    }
    79% {
        transform: translateX(-3px) rotate(3deg)
    }
    80% {
        transform: translateX(0px) rotate(3deg)
    }
    98% {
        transform: translateX(-2px) rotate(3deg)
    }
    99% {
        transform: translateX(0px) rotate(3deg)
    }
}